.header {
    background-color: #00b4db;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.navbar img {
    height: 64px;
    width: auto;
    position: relative;
    left: 21%;
}

.nav-link {
    float: right;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
}

.nav-menu {
    display: none;
    text-decoration: none;
    color: black;
    font-size: 50px;
}

.nav-link:hover {
    background: rgba(255,255,255,0.5);
}

@media screen and (max-width: 1000px) {
    .navbar a {
        display: none;
    }

        .navbar a.nav-menu {
            margin: auto;
            float: right;
            display: block;
        }

    .navbar.responsive .nav-link {
        position: relative;
    }

    .navbar.responsive .nav-menu {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
